.App {
  text-align: center;
  background-color: #090b1f;
  padding: 15px;
  height: auto;
  margin: auto;
  min-width: 500px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App a{
  color: rgb(223, 213, 213);
  text-decoration: none;
  display: flex;
  margin-top: 25px
  
}

/* 
:root{
    --results-columns: 3;
} */

/* .ListOfGifs{
    column-count: var(--results-columns);
    column-gap: .5em;
}

.ListOfGifs-item{
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    background-color: #eee;
    display: inline-block;
    width: 100%;
}

@media(min-with: 600px){
    :root{
        --results-columns: 3;  
    }
}

@media(min-with: 800px){
    :root{
        --results-columns: 4;  
    }
} */

